<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolflix</title>
  </head>
  <body>
    <div id="app">
      <header>
        <div  class="container">
          <img src="img/NowTv.png" alt="">
          <button @click="searchMovie" type="button" name="button">Trova</button>
          <input type="text" v-model="query" @keyup.enter="searchMovie">
          <span>Ricerca film</span>
        </div>
      </header>

      <div class="film-container ">
        <div v-for="film in films" class="film">
          <img v-if="film.poster_path != null" :src="'https://image.tmdb.org/t/p/w500/' + film.poster_path" alt="movie_poster">
          <img v-else src="img/1917.jpg" alt="">
          <h3>{{ film.title }}</h3>
          <div>{{ '(' + film.original_title + ')'}}</div>
          <div class="voto">{{film.vote_average}}</div>
        </div>
      </div>

    </div>


    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
